In [32]:
import pandas as pd
import os
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
import numpy as np

In [33]:

df = pd.read_csv('/kaggle/input/tips-and-iris/tips.csv')    
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [34]:
#кодируем текстовые данные в числовые
df['sex'] = df['sex'].apply(lambda x: int(x == "Male"))
df['smoker'] = df['smoker'].apply(lambda x: int(x == "Yes"))
df['time'] = df['sex'].apply(lambda x: int(x == "Dinner"))

le = preprocessing.LabelEncoder()
df['day'] = le.fit_transform(df['day'])

df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [35]:
X = df.drop('tip', axis=1)
y = df['tip']
X_train, X_test, y_train, y_test = train_test_split(X, y)

regressor = xgb.XGBRegressor(n_estimators=100, reg_lambda=1, gamma=0, max_depth=3)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print('Среднеквадратическое отклонение', np.sqrt(mean_squared_error(y_test, y_pred)))

pred = regressor.predict(X)
df['tip_pred'] = pred
df.head(40)

Среднеквадратическое отклонение 1.0212419235590622

    total_bill   tip  sex  smoker  day  time  size  tip_pred
0        16.99  1.01    0       0    2     0     2  1.584585
1        10.34  1.66    1       0    2     0     3  1.697980
2        21.01  3.50    1       0    2     0     3  3.641338
3        23.68  3.31    1       0    2     0     2  3.330625
4        24.59  3.61    0       0    2     0     4  3.787025
5        25.29  4.71    1       0    2     0     4  4.323491
6         8.77  2.00    1       0    2     0     2  2.010588
7        26.88  3.12    1       0    2     0     4  3.395170
8        15.04  1.96    1       0    2     0     2  2.187698
9        14.78  3.23    1       0    2     0     2  2.804551
10       10.27  1.71    1       0    2     0     2  1.774831
11       35.26  5.00    0       0    2     0     4  5.136057
12       15.42  1.57    1       0    2     0     2  2.164963
13       18.43  3.00    1       0    2     0     4  2.584409
14       14.83  3.02    0       0    2     0     2  2.949046
15       21.58  3.92    1       0    2     0     2  3.945411
16       10.33  1.67    0       0    2     0     3  1.933652
17       16.29  3.71    1       0    2     0     3  3.034739
18       16.97  3.50    0       0    2     0     3  3.298032
19       20.65  3.35    1       0    1     0     3  3.237912
20       17.92  4.08    1       0    1     0     2  3.207056
21       20.29  2.75    0       0    1     0     2  2.929832
22       15.77  2.23    0       0    1     0     2  2.552612
23       39.42  7.58    1       0    1     0     4  7.333146
24       19.82  3.18    1       0    1     0     2  3.017879
25       17.81  2.34    1       0    1     0     4  2.353548
26       13.37  2.00    1       0    1     0     2  2.091593
27       12.69  2.00    1       0    1     0     2  1.755305
28       21.70  4.30    1       0    1     0     2  3.923855
29       19.65  3.00    0       0    1     0     2  2.865006
30        9.55  1.45    1       0    1     0     2  1.503289
31       18.35  2.50    1       0    1     0     4  2.479077
32       15.06  3.00    0       0    1     0     2  2.560518
33       20.69  2.45    0       0    1     0     4  2.991516
34       17.78  3.27    1       0    1     0     2  2.749103
35       24.06  3.60    1       0    1     0     3  3.127105
36       16.31  2.00    1       0    1     0     3  2.417711
37       16.93  3.07    0       0    1     0     3  3.006403
38       18.69  2.31    1       0    1     0     3  2.416569
39       31.27  5.00    1       0    1     0     3  4.772140